﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header affix">

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hoteles", "Index", "Hotel", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Eventos", "Index", "Evento", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Reservaciones", "Index", "Reservacion", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Servicios", "Index", "Servicio", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Facturas", "Index", "Factura", new { area = "" }, null)</li>


                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Opciones <span class="caret"></span></a>
                        <ul class="dropdown-menu " role="menu">
                            <li><a href="#">Configuración</a></li>
                            <li>
                                @if (Session["Usuario"].ToString() != null)
                                {
                                    @Html.ActionLink("Cerrar sesión", "Logout", "Sesion")
                                }
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <h2 class="col-lg-offset-1">
        @if (Session["Usuario"] != null)
            { <text>
        Bienvenido/a: @Session["Usuario"].ToString() </text>
        }
    </h2>
    <div class="container body-content panel-footer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Edwin de León®</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
