﻿@model IEnumerable<ProyectoWebApiHotelV1.Models.Privilegios>

@{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h2>Datos de privilegios</h2>
        <p class="btn btn-info btn-sm">
            @Html.ActionLink("Crear nuevo", "Create")
        </p>
        <br />
        <br />
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Privilegio)
                </th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Privilegio)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdPrivilegio }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPrivilegio })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>