﻿@model ProyectoWebApiHotelV1.Models.Clientes

@{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h2>¿Desea eliminarlo?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CuentaUsuario.Usuario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CuentaUsuario.Usuario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nit)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Correo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Correo)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
                    <p class="btn btn-info btn-sm">
                        @Html.ActionLink("Regresar", "Index")
                    </p>
                    
                </div>
            }
        </div>
    </div>
</div>
