﻿@model IEnumerable<ProyectoWebApiHotelV1.Models.Clientes>

@{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}

<div class="row">
    <div>
        <h2>Datos de clientes</h2>
        <p class="btn btn-info btn-sm">
            @Html.ActionLink("Crear nuevo", "Create")
        </p>
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CuentaUsuario.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CuentaUsuario.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCliente })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
