﻿@model IEnumerable<ProyectoWebApiHotelV1.Models.Hoteles>

@if (Session["Privilegio"].Equals("Administrador"))
{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Sesion/Clientes/_Layout.cshtml";
}

<div class="row">
    <div>
        <h2>Datos de hoteles</h2>
        <p class="btn btn-info btn-sm">
            @Html.ActionLink("Crear nuevo", "Create")
        </p>
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadHabitaciones)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RangoHabitaciones)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioAdmin.Usuario)
                </th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadHabitaciones)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RangoHabitaciones)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioAdmin.Usuario)
                    </td>
                        @if (Session["Privilegio"].Equals("Administrador"))
                        {
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdHotel }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdHotel })
                            </td>
                        }
                        else
                        {
                            <td> - - - - -</td>
                        }
                </tr>
            }

        </table>
    </div>
</div>
