﻿@model ProyectoWebApiHotelV1.Models.Usuarios

@{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h2>¿Desea eliminarlo?</h2>
                <hr />
                <dl class="dl-horizontal">
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Usuario)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Contrasena)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Contrasena)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Privilegio.Privilegio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Privilegio.Privilegio)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" /> 
                        <p class="btn btn-info btn-sm">
                            @Html.ActionLink("Regresar", "Index")
                        </p>
                    </div>
                }

    </div>
</div>

