﻿@model IEnumerable<ProyectoWebApiHotelV1.Models.Usuarios>

@{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <h2>Datos de usuarios</h2>
            <p class="btn btn-info btn-sm">
               @Html.ActionLink("Nuevo Usuario", "Create")
            </p>
            <br />
            <br />
            <table class="table table-hover">
                <tr>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contrasena)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Privilegio.Privilegio)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contrasena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Privilegio.Privilegio)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdUsuario })
                    </td>
                    </tr>
                }

            </table>
        </div>
    </div>

