﻿@model IEnumerable<ProyectoWebApiHotelV1.Models.TipoHabitaciones>

@{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Tipos de habitaciones</h2>
        <p class="btn btn-info btn-sm">
            @Html.ActionLink("Crear nuevo", "Create")
        </p>
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdTipoHabitacion }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdTipoHabitacion })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
