﻿<!--Reservaciones-->

@if (Session["Privilegio"].Equals("Administrador"))
{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Sesion/Clientes/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/reservacion")
}



<!--TABLA-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <label data-bind="text: error" />
        </div>
        <h2>Lista de reservaciones</h2>
            <div class="btn-group right">
                <button type="button" class="btn btn-success btn-sm"
                        data-toggle="modal" data-target="#modalAgregarReservacion">
                    Nueva reservación
                </button>

                <button type="button" class="btn btn-primary btn-sm">
                    Estado de hoteles
                </button>
            </div>
            
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Hotel</th>
                    <th>Habitación</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>Precio por día</th>
                    <th>Fecha ingreso</th>
                    <th>Fecha egreso</th>
                    <th>Precio total</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: reservaciones">
                <tr>
                    <td data-bind="text: IdReservacion"></td>
                    <td data-bind="text: NombreCliente.Nombre"></td>
                    <td data-bind="text: Hotel.Nombre"></td>
                    <td data-bind="text: CodigoHabitacion"></td>
                    <!--
                        <td><input type="checkbox" data-bind="text: Estado" disabled id="estado"/></td>
                    -->
                    <td data-bind="text: Estado"></td>
                    <td data-bind="text: TipoHabitacion.Tipo"></td>
                    <td data-bind="text: PrecioPorDia"></td>
                    <td data-bind="text: FechaIngreso"></td>
                    <td data-bind="text: FechaEgreso"></td>
                    <td data-bind="text: SubTotal"></td>
                    <td>
                        @if (Session["Privilegio"].Equals("Administrador"))
                        {
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm"
                                    data-toggle="modal"
                                    data-target="#modalEditarReservacion"
                                    data-bind="click: $root.cargar">
                                Editar
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    data-bind="click: $root.eliminar">
                                Eliminar
                            </button>
                        </div>
                        }
                        else
                        {
                            <div> - - - - - </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--FIN TABLA-->

<!--MODAL AGREGAR RESERVACION-->
<div class="modal fade" tabindex="-1"
     id="modalAgregarReservacion"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Agregar Reservación</h3>
                </div>

                <!--Inicio modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Cliente</label>
                        <select class="form-control"
                                data-bind="options: clientes, optionsText: 'Nombre', value: reservacionNueva.NombreCliente"></select>
                    </div>
                    <div class="form-group">
                        <label>Hotel</label>
                        <select class="form-control"
                                data-bind="options: hoteles, optionsText: 'Nombre', value: reservacionNueva.Hotel"></select>
                    </div>
                    <div class="form-group">
                        <label>Habitación</label>
                        <input type="text" class="form-control"
                               name="inputHabitacion" id="inputHabitacion"
                               data-bind="value: reservacionNueva.CodigoHabitacion" />
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <input type="text" class="form-control"
                               name="inputEstado" id="inputEstado"
                               data-bind="value: reservacionNueva.Estado" />
                    </div>
                    <div class="form-group">
                        <label>Tipo de habitación</label>
                        <select class="form-control"
                                data-bind="options: tipoHabitaciones, optionsText: 'Tipo', value: reservacionNueva.TipoHabitacion"></select>
                    </div>
                    <div class="form-group">
                        <label>Precio por día (Quetzales)</label>
                        <input type="text" class="form-control"
                               name="inputPrecioPorDia" id="inputPrecioPorDia"
                               data-bind="value: reservacionNueva.PrecioPorDia"
                                />
                    </div>
                    <div class="form-group">
                        <label>Fecha de ingreso</label>
                        <input type="text" class="form-control"
                               name="inputFechaIngreso" id="inputFechaIngreso"
                               data-bind="value: reservacionNueva.FechaIngreso" />
                    </div>
                    <div class="form-group">
                        <label>Fecha de egreso</label>
                        <input type="text" class="form-control"
                               name="inputFechaEgreso" id="inputFechaEgreso"
                               data-bind="value: reservacionNueva.FechaEgreso" />
                    </div>
                    <div class="form-group">
                        <label>SubTotal</label>
                        <input type="text" class="form-control"
                               name="inputSubTotal" id="inputSubTotal"
                               data-bind="value: reservacionNueva.SubTotal"
                                />
                    </div>
                </div>
                <!--FIN MODAL BODY-->
                <!--Footer modal body-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default btn-sm"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-success btn-sm">
                        Guardar
                    </button>
                </div>
                <!--FIN MODAL FOOTER-->

            </form>
        </div>
    </div>
</div>

<!--MODAL EDITAR RESERVACION-->
<div class="modal fade" tabindex="-1"
     id="modalEditarReservacion"
     role="dialog" aria-labelledby="myModalLabel"
     data-bind="if: reservacionCargada">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Editar Reservación</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Cliente</label>
                        <select class="form-control"
                                data-bind="options: clientes, optionsText: 'Nombre', value: reservacionCargada().NombreCliente"></select>
                    </div>
                    <div class="form-group">
                        <label>Hotel</label>
                        <select class="form-control"
                                data-bind="options: hoteles, optionsText: 'Nombre', value: reservacionCargada().Hotel"></select>
                    </div>
                    <div class="form-group">
                        <label>Habitación</label>
                        <input type="text" class="form-control"
                               name="inputHabitacion" id="inputHabitacion"
                               data-bind="value: reservacionCargada().CodigoHabitacion" />
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <input type="text" class="form-control"
                               name="inputEstado" id="inputEstado"
                               data-bind="value: reservacionCargada().Estado" />
                    </div>
                    <div class="form-group">
                        <label>Tipo de habitación</label>
                        <select class="form-control"
                                data-bind="options: tipoHabitaciones, optionsText: 'Tipo', value: reservacionCargada().TipoHabitacion"></select>
                    </div>
                    <div class="form-group">
                        <label>Precio por día (Quetzales)</label>
                        <input type="text" class="form-control"
                               name="inputPrecioPorDia" id="inputPrecioPorDia"
                               data-bind="value: reservacionCargada().PrecioPorDia" />
                    </div>
                    <div class="form-group">
                        <label>Fecha de ingreso</label>
                        <input type="text" class="form-control"
                               name="inputFechaIngreso" id="inputFechaIngreso"
                               data-bind="value: reservacionCargada().FechaIngreso" />
                    </div>
                    <div class="form-group">
                        <label>Fecha de egreso</label>
                        <input type="text" class="form-control"
                               name="inputFechaEgreso" id="inputFechaEgreso"
                               data-bind="value: reservacionCargada().FechaEgreso" />
                    </div>
                    <div class="form-group">
                        <label>SubTotal</label>
                        <input type="text" class="form-control"
                               name="inputSubTotal" id="inputSubTotal"
                               data-bind="value: reservacionCargada().SubTotal" />
                    </div>
                </div><!--FIN MODAL BODY-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default btn-sm"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-success btn-sm">
                        Editar
                    </button>
                </div><!--FIN MODAL FOOTER-->
            </form>
        </div>
    </div>
</div>
