﻿<!--Servicios-->

@if (Session["Privilegio"].Equals("Administrador"))
{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Sesion/Clientes/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/servicio")
}

<div class="page-header">
    <label data-bind="text: error" />
</div>
<!--TABLA-->
<div class="row">
    <div class="col-md-12">
        <h2>
            Lista de servicios
            <button type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#modalAgregarHabitacion">
                Nueva habitación
            </button>

            <button type="button" class="btn btn-info">
                Estadística de habitaciones
            </button>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Código de habitación</th>
                    <th># Baños</th>
                    <th># Camas</th>
                    <th>Precio por día</th>
                    <th>Tipo de habitación</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: habitaciones">
                <tr>
                    <td data-bind="text: IdHabitacion"></td>
                    <td data-bind="text: CodigoHabitacion"></td>
                    <td data-bind="text: NumeroBanos"></td>
                    <td data-bind="text: NumeroCamas"></td>
                    <td data-bind="text: PrecioPorDia"></td>
                    <td data-bind="text: TipoHabitacion.Tipo"></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning"
                                    data-toggle="modal"
                                    data-target="#modalEditarHabitacion"
                                    data-bind="click: $root.cargar">
                                Editar
                            </button>
                            <button class="btn btn-danger"
                                    data-bind="click: $root.eliminar">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--FIN TABLA-->
<!--MODAL AGREGAR HABITACION-->
<div class="modal fade" tabindex="-1"
     id="modalAgregarHabitacion"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Agregar Habitación</h3>
                </div>

                <!--Inicio modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Código habitación</label>
                        <input type="text" class="form-control"
                               name="inputCodigoHabitacion" id="inputCodigoHabitacion"
                               data-bind="value: habitacionNueva.CodigoHabitacion" />
                    </div>
                    <div class="form-group">
                        <label>No. baños</label>
                        <input type="text" class="form-control"
                               name="inputNumeroBanos" id="inputNumeroBanos"
                               data-bind="value: habitacionNueva.NumeroBanos" />
                    </div>
                    <div class="form-group">
                        <label>No. camas</label>
                        <input type="text" class="form-control"
                               name="inputNumeroCamas" id="inputNumeroCamas"
                               data-bind="value: habitacionNueva.NumeroCamas" />
                    </div>
                    <div class="form-group">
                        <label>Precio por día (Quetzales)</label>
                        <input type="text" class="form-control"
                               name="inputPrecioPorDia" id="inputPrecioPorDia"
                               data-bind="value: habitacionNueva.PrecioPorDia" />
                    </div>
                    <div class="form-group">
                        <label>Tipo de habitación</label>
                        <select class="form-control"
                                data-bind="options: tipo, optionsText: 'Tipo', value: habitacionNueva.TipoHabitacion"></select>
                    </div>
                </div>
                <!--FIN MODAL BODY-->
                <!--Footer modal body-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-primary">
                        Guardar
                    </button>
                </div>
                <!--FIN MODAL FOOTER-->

            </form>
        </div>
    </div>
</div>

<!--MODAL EDITAR HABITACION-->
<div class="modal fade" tabindex="-1"
     id="modalEditarHabitacion"
     role="dialog" aria-labelledby="myModalLabel"
     data-bind="if: habitacionCargada">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Editar Habitacion</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nuevo código de habitación</label>
                        <input type="text" class="form-control"
                               name="inputCodigoHabitacion" id="inputCodigoHabitacion"
                               data-bind="value: habitacionCargada().CodigoHabitacion" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo No. Baños</label>
                        <input type="text" class="form-control"
                               name="inputNumeroBanos" id="inputNumeroBanos"
                               data-bind="value: habitacionCargada().NumeroBanos" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo No. Camas</label>
                        <input type="text" class="form-control"
                               name="inputNumeroCamas" id="inputNumeroCamas"
                               data-bind="value: habitacionCargada().NumeroCamas" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo precio por día (Quetazales)</label>
                        <input type="text" class="form-control"
                               name="inputPrecioPorDia" id="inputPrecioPorDia"
                               data-bind="value: habitacionCargada().PrecioPorDia" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo tipo de habitacion</label>
                        <select class="form-control"
                                data-bind="options: tipo, optionsText: 'Tipo', value: habitacionCargada().Tipo"></select>
                    </div>
                </div><!--FIN MODAL BODY-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-success">
                        Editar
                    </button>
                </div><!--FIN MODAL FOOTER-->
            </form>
        </div>
    </div>
</div>
