﻿@model ProyectoWebApiHotelV1.Models.Usuarios

<div class="row">
    <div class="col-md-4 col-md-offset-3">

        @using (Html.BeginForm("Login", "Sesion", FormMethod.Post))
        {
            <fieldset>
                <h2>Iniciar sesión</h2>
                <hr />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <table>
                    <tr>
                        <td>@Html.LabelFor(a => a.Usuario)</td>
                        <td>@Html.TextBoxFor(a => a.Usuario,
                            new { @class = "form-control",
                                placeholder = "Usuario",
                                required = "required"
                            })
                        </td>
                        <td>@Html.ValidationMessageFor(a => a.Usuario)</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(a => a.Contrasena)
                        </td>
                        <td>@Html.PasswordFor(a => a.Contrasena,
                           new { @class = "form-control",
                               placeholder = "Contraseña",
                               required = "required"
                           })
                        </td>
                        <td>@Html.ValidationMessageFor(a => a.Contrasena)</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Iniciar sesión" class="btn btn-success btn-sm" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        }  

    </div>
</div>