﻿@model ProyectoWebApiHotelV1.Models.Eventos

@{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h2>¿Desea eliminarlo?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NombreEvento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreEvento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaEvento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaEvento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Hotel.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Hotel.Nombre)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" /> 
                    <p class="btn btn-info btn-sm">
                        @Html.ActionLink("Regresar", "Index")
                    </p>
                </div>
            }
        </div>
    </div>
</div>
