﻿@model IEnumerable<ProyectoWebApiHotelV1.Models.Eventos>

@if (Session["Privilegio"].Equals("Administrador"))
{
    Layout = "~/Views/Sesion/Administrador/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Sesion/Clientes/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Datos de eventos</h2>
        <p class="btn btn-info btn-sm">
            @Html.ActionLink("Crear nuevo", "Create")
        </p>
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel.Nombre)
                </th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.Nombre)
                    </td>
                        @if (Session["Privilegio"].Equals("Administrador"))
                        {
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdEvento }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEvento })
                            </td>
                        }
                        else
                        {
                            <td> - - - - - </td>
                        }
                </tr>
            }

        </table>
    </div>
</div>
